<!--
SPDX-FileCopyrightText: 2022 Benjamin Kahlau

SPDX-License-Identifier: GPL-3.0-or-later
-->

<%
const archivesList = list_archives({ show_count: false });
%>

<% if (is_year() === false) { %>
<article>
    <h1>Archiv</h1>
    <% if (archivesList !== "") { %>
        <%- archivesList %>
    <% } else { %>
        <p>Leer.</p>
    <% } %>
</article>
<% } else { %>
<article>
    <% if (is_month()) { %>
        <h1>Archiv: <%= page.month + '/' + page.year %></h1>
    <% } else { %>
        <h1>Archiv: <%= page.year %></h1>
    <% } %>
    <% page.posts.each(post => { %>
        <h2><a href="<%= url_for(post.path) %>"><%= post.title %></a></h2>
        <%- post.excerpt %>
    <% }) %>

    <%-paginator()%>

    <% } %>
</article>
