<!--
SPDX-FileCopyrightText: 2022 Benjamin Kahlau

SPDX-License-Identifier: GPL-3.0-or-later
-->

<% if (page.posts.length > 0) { %> <% page.posts.sort('date', -1).limit(10).each(post => { %>
<article class="mb-4 pb-2 border-b-2">
    <h1>
        <a href="<%= url_for(post.path) %>"><%= post.title %></a>
    </h1>

    <%- partial('meta', { post: post }) %>

    <%- post.excerpt %>

    <a href="<%= url_for(post.path) %>">Mehr lesen&hellip;</a>
</article>
<% }); %>
<% } %>

<%- paginator({
    prev_text: 'Neuere Beiträge',
    next_text: 'Ältere Beiträge'
}) %>
