<!--
SPDX-FileCopyrightText: 2022 Benjamin Kahlau

SPDX-License-Identifier: GPL-3.0-or-later
-->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= [page.title, config.title].filter(Boolean).join(' | ') %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <% if (theme.favicon){ %>
        <%- favicon_tag(theme.favicon) %>
        <% } %>
        <%- css('roanapur.min.css') %>
        <%- open_graph() %>
    </head>

    <body class="bg-white text-black dark:bg-neutral-800 dark:text-neutral-200 flex flex-col h-screen">
        <% if (page.layout === 'empty')  {%>
        <%- page.content %>
        <% } else { %>
        <header class="bg-neutral-800 text-white h-14 dark:border-b dark:border-b-neutral-200">
            <!--<div class="xl:container mx-auto p-4 pb-0 text-4xl text-red-600"><h1>Roanapur Blog</h1></div>-->
            <nav class="xl:container mx-auto p-4">
                <ul>
                    <% Object.keys(theme.menu).forEach(key => { %>
                    <li class="py-2 pr-2 inline">
                        <a href="<%= theme.menu[key] %>"><%= key %></a>
                    </li>
                    <% }); %>
                </ul>
            </nav>
        </header>
        <!--  style="min-height: calc(100vh - 112px);" -->
        <div class="xl:container mx-auto flex flex-row flex-1" style="-webkit-flex: 1 1 0">
            <main class="w-full p-4">
                <%- body %>
            </main>
            <aside class="w-96 p-4">
                <div class="mb-4">
                    <h1 class="text-2xl text-red-600 font-bold">Links</h1>
                    <ul>
                        <% theme.links.forEach(link => { %>
                        <li class="py-2">
                            <a href="<%= link.url %>"><img class="w-8 float-left mr-2" src="<%= link.icon %>" alt="<%= link.name %>" /><%=link.name %></a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
                <div class="mb-4">
                    <h1 class="text-2xl text-red-600 font-bold">Schlagworte</h1>
                    <%- list_tags({
                            show_count: false
                        }) %>
                </div>
                <div class="mb-4">
                    <h1 class="text-2xl text-red-600 font-bold">Kategorien</h1>
                    <%- list_categories({
                            show_count: false
                        }) %>
                </div>
            </aside>
        </div>

        <footer class="bg-neutral-800 text-white dark:border-t dark:border-t-neutral-200">
            <nav class="xl:container mx-auto p-4">
                <div class="flex flex-row">
                    <ul class="w-1/2">
                        <% theme.menu_footer.forEach(link => { %>
                        <li class="inline pr-2">
                            <% if (link.icon) { %>
                                <i class="<%= link.icon %> ml-2" role="img" title="<%= link.name %>"></i>
                            <% } %>
                            <a href="<%= link.url %>"><%= link.name %></a>
                        </li>
                        <% }); %>
                    </ul>
                    <div class="w-1/2 text-right">
                        <a class="underline" xmlns:dct="http://purl.org/dc/terms/" href="https://codeberg.org/terenc3/roanapur" property="dct:title">Roanapur Webseite</a> von
                        <a class="underline" xmlns:cc="http://creativecommons.org/ns#" href="https://roanapur.de" property="cc:attributionName" rel="cc:attributionURL">Benjamin Kahlau</a>
                        ist lizenziert unter der
                        <a rel="license" class="underline" href="http://creativecommons.org/licenses/by/4.0/"><abbr title="Creative Commons Attribution 4.0 International License">CC BY 4.0</abbr></a> Lizenz.
                    </div>
                </div>
            </nav>
        </footer>
        <% } %>
    </body>
</html>
