<div class="flex mb-2">
    <p class="flex-1 w-32">
        <i class="icon-[carbon--calendar] mx" role="img" title="Datum"></i>
        <% if(post.updated) { %>
            <del><time class="w-32" datetime="<%= post.date.toJSON() %>"><%= date(post.date) %></time></del>
            <time class="w-32" datetime="<%= post.date.toJSON() %>"><%= date(post.updated) %></time>
        <% } else { %>
            <time class="w-32" datetime="<%= post.date.toJSON() %>"><%= date(post.date) %></time>
        <% } %>
        <i class="icon-[carbon--time] mx ml-2" role="img" title="Lesezeit"></i>
        <time class="flex-1"><%- readingTime(post.content) %></time>
    </p>
    <p class="flex-1 w-full text-right">
        <% if(post.tags.length > 0) { %>
            <i class="icon-[carbon--tag] mx" role="img" title="Schlagworte"></i>
            <%- list_tags(post.tags, {
                show_count: false,
                style: false
            }) %>
        <% } %>
        <% if(post.categories.length > 0) { %>
            <i class="icon-[carbon--box] mx ml-2" role="img" title="Kategorien"></i>
            <%- list_categories(post.categories, {
                show_count: false,
                style: false
            }) %>
        <% } %>
    </p>
</div>
<div class="mt-2 pt-2 border-t-2 border-slate-200"></div>
