<!--
SPDX-FileCopyrightText: 2022 Benjamin Kahlau

SPDX-License-Identifier: GPL-3.0-or-later
-->

<article>
    <hgroup>
        <h1 class="text-2xl">
            <a href="<%= page.permalink %>"><%= page.title %></a>
        </h1>

        <%- partial('meta', { post: page }) %>
    </hgroup>

    <%- page.content %>
</article>
