<!--
SPDX-FileCopyrightText: 2022 Benjamin Kahlau

SPDX-License-Identifier: GPL-3.0-or-later
-->
<article class="mb-4 pb-2 border-b-2">
    <h1>
        Schlagwort:
        <%= page.tag %>
    </h1>
    <% page.posts.each(post => { %>
        <h2><a href="<%= url_for(post.path) %>"><%= post.title %></a></h2>

        <%- partial('meta', { post: post }) %>

        <div class="mt-2"></div>

        <%- post.excerpt %>
    <% }) %>
</article>

<%-paginator()%>
